
<div id="footer">
  <div class="social_links text-center">
    <i class="fa fa-facebook-square" aria-hidden="true"></i>
    <i class="fa fa-twitter-square" aria-hidden="true"></i>
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-pinterest-square" aria-hidden="true"></i>

  <br>
  </div><img src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/573fa19c8435/assets/img/structural/footer_cityscape.png" alt="">



</div>


