// Your footer style
#footer {
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/573fa19c8435/assets/img/structural/footer_cityscape.png");
  // margin: 10px auto;
  // width: 900px;
  // height: 30px;
  // background-repeat: repeat-x;
}

.social_links {
  color: #9A9A9A;
  font-size: 15px;
  margin-top: 10px;
}
